ul,
ol {
    list-style-type: none;
}

/*how to  remove lines from the links */

button {
    cursor: pointer;
}


.logo {
    color: var(--IRIS, #4D5AE5);
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16; /* 116.667% */
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.text-logo {
    color: var(--NAVY-BLUE, #2E2F42);
font-family: 'Raleway', 'Arial', sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.16; /* 116.667% */
letter-spacing: -0.03em;
text-transform: uppercase;
}

. menu-link {
    color: var(--NAVY-BLUE, #2E2F42);

/* Body Medium */
font-family: Roboto, 'Arial', sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5px; /* 150% */
letter-spacing: 0.02em;
    display: inline-flex;
align-items: flex-start;
gap: 40px;
display: flex;
width: 1440px;
height: 72px;
justify-content: center;
align-items: center;
flex-shrink: 0;
}